body{ margin:0; padding:0;} 
img{ border:none;}
.wrapper{margin:0 auto; padding:0; width:955px; }
.header{ margin:0 auto; padding:0; width:955px; height:217px;} 
.logo{ font-size:16px; float:left; margin:15px 0 0 0;  width:223px; height:114px; font-family: "Times New Roman", Times, serif; font-weight:bold; color:#0000fe;}
.logo img{ padding-bottom:10px;}
.slogun{ clear:both; float:right; width:730px; height:15px; font-family: "Book Antiqua"; color:#0202d1; font-size:25px;   text-align:center;}
.socials{ width:100px; float:right; margin:30px 0 0 0; font-family:Arial, Helvetica, sans-serif; color:#000; font-size:16px; text-align:right; font-weight:bold;}
.tuv{        float: left;
    margin-left: 327px;
    margin-top: 20px;
    width: 290px;}
.socialicon{ width:148px; float:right;    margin:25px 0 0 0;}
.nav{ background:url(images/menubg.png) repeat-x top left; border-radius:8px; clear:both; height:42px; font-family: Arial, Helvetica, sans-serif; color:#FFF; line-height:42px; font-weight:bold; font-size:15px; padding-left:15px;  }
.sliderbg{ background:none; height:273px;}
.container{ margin-top:20px;}
.container h1{ margin:0; padding:0; font-family: "Baskerville Old Face"; font-size:24px; font-weight:normal;}
.container h1 span{ color:#0202d1;}
.container p{ text-align:justify; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; line-height:24px;} 
.imgLeft{ float: left;}
.grabg{ /*background:url(images/probg.png) repeat-x top left;*/ height:390px;}
.grid{ width:460px; float:left; margin-top:15px;} 
.grid h2{ margin:0; padding:0; font-family: Calibri; text-transform:uppercase; font-size:19px;}
.grid p{ font-family:Arial, Helvetica, sans-serif; color:#000; line-height:24px; font-size:12px; text-align:justify; }
.bdr{border:1px solid #7b7b81; margin-right:15px;}
.readmore{ color:#0202d1; text-decoration:none; float:right;}
.pad{ margin-left:25px;}
.footer{ /* background:#0000fe; */ height:143px; color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-top:15px;}
.footer {background:#0000fe; width:955px; margin:0 auto; padding:10px;}
.footer a{ text-decoration:none; color:#FFF;}

/*menu CSS*/
.jqueryslidemenu{
font: bold 13px Verdana;
background: none;
width: 100%; padding:0;
}

.jqueryslidemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}



/*Top level list items*/
.jqueryslidemenu ul li{ 
position: relative;
display: inline;
float: left;   background:url(images/sepretor.png) no-repeat center right; 
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
display: block;
background: none; /*background of tabs (default state)*/
color: white;
padding:13px 21px;
 

 
color: #2d2b2b;
text-decoration: none;
}


* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block; 
}

.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
color: white;
}

.jqueryslidemenu ul li a:hover{
background: #000; /*tab link background during hover state*/
color: white;
}
	
/*1st sub level menu*/
.jqueryslidemenu ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden; z-index:100;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
display: list-item; background:#000;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
font: normal 13px Verdana;
width:200px; /*width of sub menus*/
padding:5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid #fff; z-index:500;
}

.jqueryslidemenu ul li ul li a:hover{ /*sub menus hover style*/
background:#CCC;
color: black;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 16px;
right: 8px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}
.contentleft{ width:720px; float:left;}
.leftNav{ width:211px; float:right; background:#0000fe; color:#FFF;}
.leftNav ul{ margin:10px 10px 10px 10px;; padding:0; list-style-type:none; display:block;}
.leftNav ul li{ background:url(images/blt.png) no-repeat left 9px; padding-left:15px; color:#FFF;}
.leftNav ul li a{ text-decoration:none; line-height:25px; color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.leftNav ul li a:hover{ color:#000;}
.leftNav ul li:hover{ background:#FFF; display:block; color:#000;}
.leftNav ul li:hover a{color:#000;}
.cms-page table {border-collapse: collapse; background-color:#fff; text-align:center; margin-top:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.cms-page th {  border: 1px solid #b4b1ae; color: #fff; font-size: 13px; padding: 4px; background-color:#0303bd; }
.cms-page td {  border: 1px solid #b4b1ae;  color: #444;  font-size: 12px;  padding: 4px; vertical-align:top;  width:20%; }
.cms-page tr{ -moz-transition:background 0.5s ease 0s; background:#fff;}
.cms-page tr:hover{background:#eee; -moz-transition:background 0.5s ease 0s; font-weight:bold}